/*html {
  background-image: linear-gradient(to right top, #67b771, #61bb6c, #5abf67, #53c261, #4bc65b);
  height: 100vh;
  overflow:hidden;
}
.container {
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: -64.5px;
  margin-top: -85.5px;
}*/
.ghost {
  animation: float 3s ease-out infinite;
}
@keyframes float {
  50% {
    transform: translate(0, 20px);
  }
}
.shadowFrame {
  width: 130px;
  margin-top: 15px;
}
.shadow {
  animation: shrink 3s ease-out infinite;
  transform-origin: center center;
}
.shadow ellipse {
  transform-origin: center center;
}
@keyframes shrink {
  0% {
    width: 90%;
    margin: 0 5%;
  }
  50% {
    width: 60%;
    margin: 0 18%;
  }
  100% {
    width: 90%;
    margin: 0 5%;
  }
}

/*.year-prog {
    margin: 0 auto;
    position: relative;
    font-size: 3.1em;
    color: whitesmoke;
    font-family: "Open Sans";
    position: absolute;
    top: 63%;
    transform: translate(0, -50%);
    width: 100%;
    text-align: center;
}

.year-prog .sub {
	font-size: .6em;
}


span {
  text-shadow: 1px 1px 1px #000000;
}
*/